/practicas/ignorar.txt
/practicas/coso.py
/practicas/ofile.txt
/practicas/lfile.txt
/practicas/bicho.txt
/practicas/bicho2.txt
/practicas/testeobeio.py
/practicas/fork_fd_ej_sin_flush.py
/practicas/abc.txt
/practicas/matrix.txt
